.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #191D2B;
        position: fixed;
        border-right: 1px solid #2e344e;
        z-index: 11;
        transition: all .3s ease-in-out;
        transform-origin: left;
        @media screen and (max-width:1000px) {
            transform: translate(-100%);
            width: 30%;
        }
        @media screen and (max-width:411px) {
            transform: translate(-100%);
            width: 30%;
        }
    }
    .show-navbar {
        transform: translate(0) !important;
    }
    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #10121B;
        min-height: 100vh;
        background-image: url(../img/dots.svg);
        display: grid;
        position: relative;
        transition: all .3s ease-in-out;
        .content {
            margin: 5rem 15rem;
            @media screen and (max-width:1000px) {
                margin: 2rem 10rem;
            }
        }
    }
}
.nav-button {
    position: absolute;
    top:10%;
    right: 10%;
    width: 4rem;
    height: 4rem;
    z-index: 10;
    display: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    .line1 ,.line2, .line3 {
        width: 100%;
        height: .3rem;
        background-color: #3858cc;
        pointer-events: none;
        display: none;
        border-radius: 20px;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
    @media screen and (max-width:1000px){
        display: block;
        .line1 ,.line2, .line3 {
            display: block;
        }
    }
}