.Title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    &::before {
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #0381ff4f;
        width: 6rem;
        height: .4rem;
        border-radius: 50px;
    }
    &::after {
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #037FFF;
        width: 3rem;
        height: .4rem;
        border-radius: 50px;
    }
    span {
        position: absolute;
        top: 20%;
        left: 0;
        font-size: 4em;
        opacity: .07;

    }
}